<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/sunny/jquery-ui.css">

    <link rel="stylesheet" href="/css/styles.css?ts={{ 'now'|date('U') }}"/>
</head>
<body>

<h1>Date and time</h1>
{% if form is defined %}
    {% if form.date is defined %}
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
    {% endif %}
    {{ form_widget(form.save) }}
{% endif %}
<div id="slider"></div>
<div id="map"></div>

<div class="legend-area">
    <h4>Cars, last 10 min</h4>
    <span id="min"></span>
    <span id="max"></span>
    <img id="gradient" src="" style="width:100%"/>
</div>

<script>
    var data = {{ data | json_encode|raw }}
</script>
<script src="/js/heatmap.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="/plugins/leaflet-heatmap/leaflet-heatmap.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/main.js?ts={{ 'now'|date('U') }}"></script>

</body>
</html>
